* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #011936;
}

header {
    text-align: center;
    background-color: #011936;
}

body {
    background-color:#F9DC5C;
}

main {
    padding-top: 150px;
}

footer {
    background-color: #011936;
}

h1, h3 {
    font-family: "Montserrat", 'Arial Narrow', Arial, sans-serif;
    color: #F4FFFD;
}

.navItem {
    display: inline;
    position: relative;
}