* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #011936;
}

body {
    background-color:#F9DC5C;
}

h1 {
    font-family: "Montserrat", 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

h3 {
    color: #465362;
}

.navItem {
    display: inline-block;
    position: relative;
}