body {
    background-color: brown;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: aquamarine;
}

.navItem {
    display: inline-block;
    position: relative;
    
}